html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
}
p {
	font-size: 12px;
}

#nav {
	height: 130px;
	width: 1050px;
	background-color: #D8D8D8;
	display: block;
}
#main-content {
	height: 670px;
	width: 1050px;
	background-color: black;
	display: block;
}
	div #photo {
		height: 260px;
		width: 380px;
		background-color: #33CCFF;
		display: inline-block;
		margin-top: 20px;
		margin-left: 40px;
		margin-right: 20px;

	}
	#about {
		height: 260px;
		width: 570px;
		background-color: yellow;
		display: inline-block;
		margin-top: 20px;
	}